@tailwind preflight;
.theme-light {
  --page-background-color: #f5f6f9;
  --card-background-color: white;
  --button-background-color: #47cdff;
  --header-background-color: white;
  --text-default-color: #222;
  --text-accent-color: #47cdff;
  --text-accent-light-color: #8ae2fe;
  --text-muted-color: rgba(0, 0, 0, 0.3);
  --text-muted-light-color: rgba(255, 255, 255, 0.1);
  --text-muted-light-color: #e1e6e8;
  --text-error-color: red;
}

.theme-dark {
  --page-background-color: #17181e;
  --card-background-color: #1f2027;
  --button-background-color: #59b6f9;
  --header-background-color: #1f2027;
  --text-default-color: #fff;
  --text-muted-color: rgba(255, 255, 255, 0.5);
  --text-muted-light-color: rgba(255, 255, 255, 0.3);
  --text-accent-color: #47cdff;
  --text-accent-light-color: #8ae2fe;
  --text-error-color: red;
}

.button {
  @apply .bg-button .no-underline .rounded-lg .text-sm .py-2 .px-5;
  color: white;
}
.button.is-outlined {
  @apply .bg-card .border .border-accent .text-accent;
}
.theme-light .button {
  box-shadow: 0 2px 7px 0 #b0eaff;
}
.theme-dark .button {
  box-shadow: 0 2px 7px 0 #00658b;
}

.card {
  @apply .bg-card .p-5 .rounded-lg .shadow;
}

.dropdown-toggle > button:focus {
  outline: 0;
}

.dropdown-menu-link {
  @apply .block .text-default .no-underline .text-sm .leading-loose .px-4;
}
.dropdown-menu-link:hover {
  background: rgba(0, 0, 0, 0.1);
}

body,
button {
  @apply .text-default;
}

.section {
  @apply .px-8;
}

@tailwind utilities;

/*# sourceMappingURL=app.css.map */
